<!-- Activities -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Activities</h2>
		</header>
		<ul class="features">
			<li class="icon fa-podcast">
				<h3>Speaker</h3>
				<p>Available worldwide for events and conferences to all audience sizes. Knowledge must be spread to anybody interested!</p>
			</li>
			<li class="icon fa-graduation-cap">
				<h3>Workshops</h3>
				<p>Worldwide animator and teacher for nontechnical up to technical deep divings audiences. Participants are required to contribute.</p>
			</li>
			<li class="icon fa-puzzle-piece">
				<h3>Consulting</h3>
				<p>Bookable expertise from the field of activities. Available for few hours or short-term projects supervision and management. Long-term is negotiable.</p>
			</li>
			<li class="icon fa-rocket">
				<h3>Engineering</h3>
				<p>Focusing on avant-gardist technologies in the field of P2P, decentralization, distribution, AI, autonomous algorithms, cryptography, and IoE.</p>
			</li>
			<li class="icon fa-users">
				<h3>Nonprofit</h3>
				<p>Philanthropic promoter of automated and self-substance communities. Aiming at delivering a technology-driven universal civilization.</p>
			</li>
			<li class="icon fa-lightbulb-o">
				<h3>Startups</h3>
				<p>Changing the world and make a difference. Of any size, their goal is to leave an impact and to help reshape our vision.</p>
			</li>
			<li class="icon fa-flask">
					<h3>Innovation</h3>
					<p>Creating something new that can be incremental and inclusive. Improving or changing the usefulness of a product or service.</p>
				</li>
			<li class="icon fa-fire">
				<h3>Disruption</h3>
				<p>Creating something new that displaces the old. The building of a new market or value chain for an existing market.</p>
			</li>
		</ul>
	</div>
</section>