	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<!-- Yep, I do track the visits, it helps me to find out where my audience is coming from -->
	<!-- If you don't want to be tracked use Ghostery.com or similar tools :) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74600637-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());

		gtag('config', '{{ site.google_analytics }}');
	</script>