<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Claret.Tech</h2>
		<p>Blockchain & Innovation Engineer<br/> Consultant, Speaker, Advisor and NPO Activities</p>
		<ul>English & French</ul>
		<ul class="icons">
			{% if site.twitter_url %}
			<li><a href="{{ site.twitter_url }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
			{% endif %} {% if site.googleplus_url %}
			<li><a href="{{ site.googleplus_url }}" class="icon fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
			{% endif %} {% if site.facebook_url %}
			<li><a href="{{ site.facebook_url }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
			{% endif %} {% if site.instagram_url %}
			<li><a href="{{ site.instagram_url }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			{% endif %} {% if site.pinterest_url %}
			<li><a href="{{ site.pinterest_url }}" class="icon fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
			{% endif %} {% if site.500px_url %}
			<li><a href="{{ site.500px_url }}" class="icon fa-500px" target="_blank"><span class="label">500px</span></a></li>
			{% endif %} {% if site.gitlab_url %}
			<li><a href="{{ site.gitlab_url }}" class="icon fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
			{% endif %} {% if site.github_url %}
			<li><a href="{{ site.github_url }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
			{% endif %} {% if site.slack_url %}
			<li><a href="{{ site.slack_url }}" class="icon fa-slack" target="_blank"><span class="label">Slack</span></a></li>
			{% endif %} {% if site.linkedin_url %}
			<li><a href="{{ site.linkedin_url }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
			{% endif %} {% if site.21_url %}
			<li><a href="{{ site.21_url }}" class="icon fa-comments-o" target="_blank"><span class="label">21</span></a></li>
			{% endif %} {% if site.keybase_url %}
			<li><a href="{{ site.keybase_url }}" class="icon fa-key" target="_blank"><span class="label">Keybase</span></a></li>
			{% endif %} {% if site.contact_url %}
			<li><a href="{{ site.contact_url }}" class="icon fa-envelope" target="_blank"><span class="label">Email</span></a></li>
			{% endif %}
		</ul>
		<ul>PGP <a href="/assets/keys/C0625F5F.asc">24DB 2D32 A2F4 C14E 58B6  3F3F 7207 A557 C062 5F5F</a></ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
