<!-- CTA -->
<section id="cta" class="wrapper style5">
	<div class="inner">
		<header>
			<h2>Featured Papers</h2>
		</header>
		
		<!-- <ul class="actions vertical">
				<li></li>
				<li></li>
			</ul>
		<ul class="actions vertical">
				<li><a href="#" class="button fit">CV</a></li>
				<li><a href="#" class="button fit">Portfolio</a></li>
			</ul> -->
	</div>
	<div class="inner">
	<ul class="actions vertical">
			<li><a href="/assets/documents/en_paper_blockchain_small_techie_overview.pdf" title="Blockchain, a Small Techie Overview" class="button big">Blockchain, a Small Techie Overview</a></li>
		</ul>
	</div>
</section>
