<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% if page.layout == 'default' %} class="alt" {% endif %}>
		<h1><a href="{{ "" | absolute_url }}">Claret.Tech</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>Menu</span></a>
					<div id="menu">
						<ul>
							{% for page in site.pages %} {% if page.layout == "home"%}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %} {% for page in site.pages %} {% if page.title == "Blog"%}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %} {% for page in site.pages %} {% if page.title == "Papers"%}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %} {% for page in site.pages %} {% if page.title == "Involvements"%}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %} {% for page in site.pages %} {% if page.title == "Press"%}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %} {% for page in site.pages %} {% if page.title == "Media" %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %} {% for page in site.pages %} {% if page.title == "Contact" %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %}
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
