<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h3>“Impossible, only defines itself.<br/>
				Dreams are our devotion fuel to unknown solutions.”</h3>
			<p>Software Engineer specialized in P2P, Distributed Consensuses including various Blockchain protocols and fully Autonomous Digital Agents. Categorized as Technology Fanatic, Innovator, Utopist and driven by Disruption.</p>
			<p>My primary interest is the decentralization and distribution of a fully autonomous network, including hardware and software. I wish to combine IoE, Blockchain, Smart Contracts, Big Data, Machine Learning and Artificial Intelligence with the goal of creating a fully autonomous and distributed entity.</p>
			<p>I dream of a world where machines are taking care of the planet and human's self-subsistence; and where people can focus on what they should do, be creative.</p>
		</header>
	</div>
</section>
