<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h3>“Impossible, only defines itself.<br/>
				Dreams are our devotion fuel to unknown solutions.”</h3>
			<p>Software Engineer passionated by new technologies and specialized in Distributed Data including Distributed Consensuses and Blockchain protocols. I am also extremely interested in Artificial Intelligence and autonomous Digital Agents.</p>
			<p>My wish is to see from my living, a fully computer-assisted and harmonized world. With the use of a decentralized, distributed, borderless and self-sufficient, autonomous network by combining Blockchain, AI, and IoT.</p>
			<p>I am usually categorized as a technology fanatic and utopist drove by the disruption.</p>
			<p>I dream of a world where machines are taking care of the planet and human's self-subsistence; and where people can focus on what they should do, be creative.</p>
		</header>
	</div>
</section>
