<!-- Skills -->
<section id="three" class="wrapper style4 special">
	<div class="inner">
		<header class="major">
			<h2>Fields of Activities</h2>
			<p></p>
		</header>
		<ul class="features">
			<li class="icon fa-link">
				<h3>Blockchain</h3>
				<p>Unalterable database managed by a consensus of algorithms. It is distributed, borderless, neutral, censorship-resistant, and open.</p>
			</li>
			<li class="icon fa-handshake-o">
				<h3>Smart-Contracts</h3>
				<p>Unalterable procedures enforced by the consensus of algorithms. Like in the physical world, contracts are executed when triggered.</p>
			</li>
			<li class="icon fa-cogs">
				<h3>Artificial Intelligence</h3>
				<p>Used to "mimic" humans cognitive functions. As for today, it performs small tasks, but with the target to execute nearly human's cognitive tasks.</p>
			</li>
			<li class="icon fa-universal-access">
				<h3>Autonomous Entities</h3>
				<p>An intelligent agent operates on its own behalf. Note that a human is an autonomous entity and an advanced artificial intelligence could also be one day.</p>
			</li>
			<li class="icon fa-globe">
				<h3>Civilisation Enhancement</h3>
				<p>Providing solutions for raising the humankind on an evolutionary level as a whole. Building a harmony between the humanity and the environment they are living in. Giving the tools to humankind to reach their cultural potential and self-fulfillment.</p>
			</li>
			<li class="icon fa-plus">
				<h3>Transhumanism</h3>
				<p>Transhumanism is a class of philosophies of life that seek the continuation and acceleration of the evolution of intelligent life beyond its currently human form and human limitations by means of science and technology, guided by life-promoting principles and values. – Max More (1990)</p>
			</li>
			<li class="icon fa-cube">
				<h3>Self-Sufficient Communities</h3>
				<p>A technology-based entirely autonomous ecosystem for a harmony between entities, the fauna, and flora.</p>
			</li>
			<li class="icon fa-cubes">
				<h3>Technology-based Governments</h3>
				<p>Economic, government, and knowledge administrated by artificial intelligence and mathematical models.</p>
			</li>
		</ul>
	</div>
</section>